* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(Image/background.jpg);
  background-size: cover;
  background-attachment: fixed;
} 

.male::before {
  font-family: "Font Awesome 5 Free";
  content: "\f183";
  padding-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

.female::before {
  font-family: "Font Awesome 5 Free";
  content: "\f182";
  padding-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

button {
  border: none;
  padding: 15px 30px;
  margin-right: 10px;
  color: #2196f3;
  font-weight: 600;
  background: none;
  text-transform: capitalize;
  transition: 0.5s;
}

button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

span {
  color: white;
  font-weight: 600;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

ul li {
  color: white;
  flex-basis: 150px;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
  width: 60px;
  word-wrap: break-word;
}

.table-head li {
  font-weight: 600;
  margin-top: 30px;
}

section {
  margin: 30px;
  padding: 30px;
  background-color: rgba(1,8,26,0.8);
  text-transform: capitalize;
  opacity: 0;
  box-shadow: 0 3px 10px rgb(0,0,0);
  animation-name: example;
  animation-duration: 5s;  
  animation-fill-mode: forwards;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

#term-condition {
  color: white;
  font-weight: 600;
}

#gender {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#first-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#last-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
 
.form {
  margin-left: auto;
  margin-right: auto; 
   width: 500px;
}

#gender span {
  flex: 1;
}

.gender-radio-btn {
  flex: 1;
}

#first-name span, #last-name span, #address span{
  flex: 1;
}

#first-name input, #last-name input, #address input{
  flex: 1;
}

#address input {
  height: 50px;
}

#btn, .sort {
  margin-top: 10px;
  text-align: center;
} 

@media (max-width: 768px) {
  span {
    font-size: 11px;
  }

  #term-condition {
    font-size: 11px;
  }

  ul li {
    font-size: 7px;
    flex-basis: 50px;
    width: 30px;
  }

  ul li button {
    font-size: 5px;
    padding: 5px;
  }

  .form {
     width: 300px;
  }
}